<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <% if user_signed_in? %>
            <h5 class="card-title">Hello <%= link_to current_user.username, user_path(current_user.username) %></h5>
            <p class="card-text"><%= current_user.email %></p>
          <% else %>
            <h5 class="card-title">Hello Guest</h5>
            <p class="card-text">
              <%= link_to "SignIn", signin_path %> |
              <%= link_to "SignUp", signup_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <h1>Tweets</h1>
        </div>
        <div class="col-6 text-right">
          <% if user_signed_in? %>
            <%= link_to 'New Tweet', new_tweet_path, class:"btn btn-primary text-white" %>
          <% end %>
        </div>
      </div>
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <li onclick="location.href='<%= tweet_path(tweet.id)%>'" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= tweet.user.email %></h5>
              <small class="text-muted"><%= time_ago_in_words(tweet.created_at) %></small>
            </div>
            <p class="mb-1"><%= tweet.content %></p>
            <small class="text-muted">Donec id elit non mi porta.</small>
            <p class="text-muted">
              <%= link_to 'Show', tweet %>
              <% if tweet.user == current_user %>
                <%= link_to 'Edit', edit_tweet_path(tweet) %>
                <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %></p>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>