<%= form_with(model: new_gallery, local: true) do |form| %>
  <% if new_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_gallery.errors.count, "error") %> prohibited this new_gallery from being saved:</h2>

      <ul>
        <% new_gallery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_field :images %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
